name: latency test

on:
  workflow_dispatch:
# Triggers the workflow every 30 minutes at 15 and 45 minutes past the hour
  schedule:
  - cron: "15,45 * * * *"
  # push:
  #   branches:
  #   - latency-test

jobs:
  login_to_remediation:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python environment
      uses: actions/setup-python@v4
      timeout-minutes: 10
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run latency test
      id: latency_test
      env:
        email_latency: ${{ secrets.EMAIL_LATENCY }}
        login_pass_latency: ${{ secrets.LOGIN_PASS_LATENCY }}
      run: |
        python latency.py

    - name: upload screenshots
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: screenshots
        path: | 
          ./*.png

    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        message: "Update latency logs with new data"
        author_name: bvolovat
        author_email: borisv@armosec.io
        commit: --signoff
        pull: '--ff-only'
        add: ./logs/*