name: onboarding test

on:
  workflow_dispatch:
# Triggers the workflow every 30 minutes at 15 and 45 minutes past the hour
  schedule:
  - cron: "22,52 * * * *"
  # push:
  #   branches:
  #   - onboarding-check

jobs:
  run-onboarding-test:
      runs-on: ubuntu-latest
      steps:
        - name: Generate uuid
          id: uuid
          run: |
            echo "RANDOM_UUID=systets-$(uuidgen)" >> $GITHUB_OUTPUT

        - name: Create k8s Kind Cluster
          id: kind-cluster-install
          uses: helm/kind-action@v1.3.0
          with:
            cluster_name: ${{ steps.uuid.outputs.RANDOM_UUID }}

        - name: Checkout repo
          uses: actions/checkout@v3

        - name: Set up Python environment
          uses: actions/setup-python@v4
          timeout-minutes: 10
          with:
            python-version: 3.8

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: run-onboarding-test
          id: onboarding_test
          env:
            email_onboarding: ${{ secrets.EMAIL_ONBOARDING }}
            login_pass_onboarding: ${{ secrets.LOGIN_PASS_ONBOARDING }}
          run: |
            python onboarding.py

        - name: better-up-time
          # if: failure()
          if: failure() && steps.run-onboarding-test.outcome == 'failure'
          run: |
            curl --request POST \
              --url https://betteruptime.com/api/v2/incidents \
              --header "Authorization: Bearer ${{ secrets.BETTER_UPTIME_TOKEN }}" \
              --header 'Content-Type: application/json' \
              --data '{"summary": "Production Incident Onboarding failed","sms": "false", "email": "true", "call": "true", "requester_email": "borisv@armosec.io", "description": "On-boarding failed ! "}'

        - name: upload screenshots
          uses: actions/upload-artifact@v4
          if: always()
          with:
            name: screenshots
            path: | 
              ./*.png

        - name: Commit changes
          uses: EndBug/add-and-commit@v9
          with:
            message: "Update onboarding logs with new data"
            author_name: bvolovatgit 
            author_email: borisv@armosec.io
            commit: --signoff
            pull: '--ff-only'
            add: ./logs/*